<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Pedidos</h1>
    
  </div>

</div>
<div class="col-xl-12">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Pedidos</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
                aria-describedby="dataTable_info" style="width: 100%;">
                <thead>
                  <tr role="row">
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-label="Position: activate to sort column ascending" style="width: 90px;">Cliente</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-label="Office: activate to sort column ascending" style="width: 90px;">Precio</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-label="Age: activate to sort column ascending" style="width: 90px;">Estado Pedido</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-label="Age: activate to sort column ascending" style="width: 90px;">fecha</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colPedidospan="1"
                      aria-label="Age: activate to sort column ascending" style="width: 90px;">Acciones </th>
                  </tr>
                </thead>
                <tbody>
                  {{#each pedidos}}
                  <tr role="row" class="odd">
                    <td>{{nombres}} {{apellidos}} </td>
                    <td>${{formatCurrency total}}</td>
                    <td>
                      {{#ifEquals completado '1'}}
                      Completado
                      {{else}}
                      Pendiente
                      {{/ifEquals}}
                    </td>
                    <td>{{moment fecha "MMM-DD-YYYY"}}</td>
                    <td>
                      <div id="actionsContainer">
                        <div id="actiosItems">
                          <span id="span1"> <a class="nav-link" href="#" onclick="verDetalle({{id_pedido}})">
                              <i class="fas fa-fw fa-search"></i>
                            </a>
                          </span>
                            <span id="span1">
                              <a class="nav-link" href="#" onclick="facturar({{id_pedido}})"><i class="fas fa-file-invoice-dollar"></i></a>
                            </span>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Logout Modal-->
<div class="modal fade" id="detallePedidoModal" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalle del pedido</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <table id="tablaprod" class="table table-hover">
                <thead>
                  <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th class="text-center">Precio</th>
                    <th class="text-center">Total</th>
                  </tr>
                </thead>
                <tbody id="productList">
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    function verDetalle(id) {
      var tb = document.getElementById('tablaprod');
      var tt = document.createTextNode("tbody");
      tt.id = 'productList';
      tb.appendChild(tt);

      $('#detallePedidoModal').on('hidden.bs.modal', function () {
        document.getElementById("productList").remove(); 
      });

      fetch('/admin/pedidos/'+id, {
        method: 'GET'
      })
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          for (i = 0; i < data[0].productos.length; i++) {
            var x=document.getElementById('productList').insertRow(i);
            var a = x.insertCell(0);
            var b = x.insertCell(1);
            var c = x.insertCell(2);
            var d = x.insertCell(3);
            a.innerHTML=`<div class='media'><div class='media-body'><h5 class='media-heading'><a href='#'> ${data[0].productos[i].nombre}</a></h5></div></div>`;
            b.innerHTML=`<strong> ${data[0].productos[i].cantidad}</strong>`;
            c.innerHTML=`<strong>$${data[0].productos[i].precio}</strong>`;
            d.innerHTML=`<strong>$${data[0].productos[i].precio *data[0].productos[i].cantidad }</strong>`;
          }
        })
        .catch(err => {
          console.log(err);
        });
      $('#detallePedidoModal').modal('show');
    }

      function facturar(id) {
        console.log("generando factura para el pedido .." + id)
        fetch('/admin/factura', {
          method: 'POST',
          body: JSON.stringify({ pedido: id }),
          headers: { 'Content-Type': 'application/json' }
        }).then(result => {
          console.log(result);
          //location.reload();
        }).catch(err => {
          console.log(err);
        });
       }

  </script>