<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Productos</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="#" data-toggle="modal"
      data-target="#createProductUpload"><i class="fas fa-download fa-sm text-white-50"></i> Registrar Producto</a>
  </div>
</div>
<div class="col-xl-12">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
                aria-describedby="dataTable_info" style="width: 100%;">
                <thead>
                  <tr role="row">
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-label="Position: activate to sort column ascending" style="width: 120px;">Imagen</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-label="Office: activate to sort column ascending" style="width: 86px;">Nombre</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-label="Age: activate to sort column ascending" style="width: 33px;">Descripción</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-label="Start date: activate to sort column ascending" style="width: 80px;">Disponibilidad
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-label="Start date: activate to sort column ascending" style="width: 80px;">Precio</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-label="Start date: activate to sort column ascending" style="width: 80px;">Marca</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-label="Start date: activate to sort column ascending" style="width: 80px;">Categoria</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-label="Start date: activate to sort column ascending" style="width: 80px;">Accion</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each productos}}
                  <tr role="row" class="odd">
                    <td> <img src="{{imagen}}" class="imgFill productImg" height="200" width="200"> </td>
                    <td>{{nombre}} </td>
                    <td>{{descripcion}}</td>
                    <td>
                      {{#ifEquals disponible '1'}}
                      Disponible
                      {{else}}
                      No disponible
                      {{/ifEquals}}
                    </td>
                    <td>${{formatCurrency precio_venta}}</td>
                    <td>{{marca}}</td>
                    <td>{{categoria}}</td>
                    <td>
                      <div id="actionsContainer">
                        <div id="actiosItems">
                          <span id="span1"> <a class="nav-link" href="#"
                              onclick="actualizaractionForm({{id_categoria}}, '{{nombre}}')">
                              <i class="fas fa-fw fa-edit"></i>
                            </a>
                          </span>
                          <span id="span2"><a class="nav-link" href="#" onclick="eliminar({{id_categoria}})">
                              <i class="fa fa-trash"></i>
                            </a></span>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Logout Modal-->
<div class="modal fade" id="createProductUpload" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width:1250px" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrar producto</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="producto">
          <div class="form-group row">
            <div class="col-sm-6">
              <label for="inputFirstname">Nombre</label>
              <input type="text" class="form-control" id="nombre" placeholder="Nombre del producto">
            </div>
            <div class="col-sm-6">
              <label for="inputLastname">Descripcion</label>
              <input type="text" class="form-control" id="descripcion" placeholder="Descripcion del producto">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4">
              <label for="inputCity">Precio Venta</label>
              <input type="text" class="form-control" id="precioV" placeholder="precio Venta">
            </div>
            <div class="col-sm-4">
              <label for="inputState">Categorias</label>
              <select class="browser-default custom-select">
                <option selected>Categorias disponibles</option>
                {{#each categorias}}
                <option value="1" id="categorias">{{nombre}} </option>
                {{/each}}
              </select>
            </div>

            <div class="col-sm-4">
              <label for="inputPostalCode">Marcas</label>
              <select class="browser-default custom-select">
                <option selected>Marcas disponibles</option>
                {{#each marcas}}
                <option value="1" id="marcas">{{nombre}} </option>
                {{/each}}
              </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-6">
              <label for="inputContactNumber">Cantidad</label>
              <div class="form-group file-uploader">
                <div class="input-group col-xs-12">
                  <span class="input-group-addon"><i class="far fa-image fa-2x"></i></span>
                  <input type="text" class="form-control input-lg" disabled placeholder="Cargar imagen">
                  <span class="input-group-btn">
                    <div class="browse btn btn-primary">
                      <i class="glyphicon glyphicon-search"></i> Examinar
                      <input type="file" id="img[]" name="img[]" class="file">
                    </div>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <label for="inputContactNumber">En oferta</label>
              <input type="checkbox" name="" id="oferta">
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal" onclick="cerrar()">Cancelar</button>
        <a class="btn btn-primary" href="#" id="actionForm" onclick="guardar()">Guardar</a>
      </div>
    </div>
  </div>
</div>

<script>
  function guardar() {
    var data = new FormData()
    data.append('nombre', document.getElementById("nombre").value);
    data.append('descripcion', document.getElementById("descripcion").value);
    data.append('precio', document.getElementById("precioV").value);
    data.append('marca', document.getElementById("marcas").value);
    data.append('categoria', document.getElementById("categorias").value);
    data.append('oferta', document.getElementById("oferta").checked ? 1 : 0);
    data.append('imagen', document.getElementById('img[]').files[0]);

    fetch('/admin/productos', {
      method: 'POST',
      body: data
    }).then(result => {
      return result.json();
    }).then(data => {
      console.log(data)
      $('#createProductUpload').modal('hide');
      location.reload();
    })
    .catch(err => {
      console.log(err);
    });

  };


  function actualizar(id) {
    fetch(`/admin/categorias/${id}`, {
      method: 'PUT',
      body: JSON.stringify({ nombre: document.getElementById("cat_nombre").value }),
      headers: { 'Content-Type': 'application/json' }
    }).then(result => {
      $('#CategoryModal').modal('hide');
      location.reload();
    }).catch(err => {
      console.log(err);
    });
  }


  function eliminar(id) {
    fetch(`/admin/categorias/${id}`, {
      method: 'DELETE'
    }).then(result => {
      console.log(result);
      location.reload();
    }).catch(err => {
      console.log(err);
    })
  }


</script>