<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Proveedores</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="#" data-toggle="modal"
      data-target="#CategoryModal"><i class="fas fa-download fa-sm text-white-50"></i> Registrar Proveedor</a>
  </div>
</div>

<div class="col-xl-12">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
                aria-describedby="dataTable_info" style="width: 100%;">
                <thead>
                  <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 123px;">
                      Razon social</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-label="Position: activate to sort column ascending" style="width: 193px;">Nit</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-label="Office: activate to sort column ascending" style="width: 86px;">Direción</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-label="Age: activate to sort column ascending" style="width: 33px;">Teléfono</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-label="Start date: activate to sort column ascending" style="width: 80px;">Estado</th>
                  </tr>
                </thead>

                <tbody>
                  {{#each proveedores}}
                  <tr role="row" class="odd">
                    <td class="sorting_1">{{nombre}}</td>
                    <td>{{nit}}</td>
                    <td>{{direccion}}</td>
                    <td>{{telefono}}</td>
                    <td>{{activo}}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="CategoryModal" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog" style="width:1250px" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrar categoría</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">

        <form>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Razon Social</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="cat_nombre">
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">NIT</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="nit">
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Direccion</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="direccion">
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Telefono</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="telefono">
            </div>
          </div>
      


        </form>

      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal" onclick="cerrar()">Cancelar</button>
        <a class="btn btn-primary" href="#" onclick="guardar()">Guardar</a>
      </div>
    </div>
  </div>
</div>

<script>

function guardar(){
  fetch('/admin/proveedores', {
    method: 'POST',
    body: JSON.stringify({nit: document.getElementById("nit").value,razon_social: document.getElementById("cat_nombre").value, telefono: document.getElementById("telefono").value,  direccion: document.getElementById("direccion").value }),
    headers:{'Content-Type': 'application/json'}
  }).then(result=>{
    console.log(result);
      $('#CategoryModal').modal('hide');
  }).catch(err => {
    console.log(err);
  });
}


</script>