<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-text mx-3">CompuNet</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li{{#ifEquals title 'Dashboard'}} class="nav-item active" {{else}} class="nav-item"{{/ifEquals}}>
    <a class="nav-link" href="/admin">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Inicio</span></a>
  </li>

  <!-- Nav Item - Pedidos -->
  <li{{#ifEquals title 'Pedidos'}} class="nav-item active" {{else}} class="nav-item"{{/ifEquals}}>
    <a class="nav-link" href="pedidos">
      <i class="fas fa-clipboard-list fa-2x"></i>
      <span>Pedidos</span></a>
  </li>

  <!-- Nav Item - Inventario -->
  <li{{#ifEquals title 'Inventario'}} class="nav-item active" {{else}} class="nav-item"{{/ifEquals}}>
    <a class="nav-link" href="inventario">
      <i class="fas fa-fw fa-users"></i>
      <span>Inventario</span></a>
  </li>

  <!-- Nav Item - Productos -->
  <li{{#ifEquals title 'Productos'}} class="nav-item active" {{else}} class="nav-item"{{/ifEquals}}>
    <a class="nav-link" href="productos">
      <i class="fas fa-fw fa-shopping-basket"></i>
      <span>Productos</span></a>
  </li>

  <li{{#ifEquals title 'Categorías'}} class="nav-item active" {{else}} class="nav-item"{{/ifEquals}}>
    <a class="nav-link" href="categorias">
      <i class="fas fa-fw fa-tags"></i>
      <span>Categorías</span></a>
  </li>

  <li{{#ifEquals title 'Marcas'}} class="nav-item active" {{else}} class="nav-item"{{/ifEquals}}>
    <a class="nav-link" href="marcas">
      <i class="fas fa-fw fa-box"></i>
      <span>Marcas</span></a>
  </li>

  <li{{#ifEquals title 'Proveedores'}} class="nav-item active" {{else}} class="nav-item"{{/ifEquals}}>
    <a class="nav-link" href="proveedores">
      <i class="fas fa-fw fa-box"></i>
      <span>Proveedores</span></a>
  </li>

   <li{{#ifEquals title 'Facturas'}} class="nav-item active" {{else}} class="nav-item"{{/ifEquals}}>
    <a class="nav-link" href="factura">
      <i class="fas fa-fw fa-box"></i>
      <span>Facturas</span></a>
  </li>

  <li{{#ifEquals title 'Usuarios'}} class="nav-item active" {{else}} class="nav-item"{{/ifEquals}}>
    <a class="nav-link" href="usuarios">
      <i class="fas fa-fw fa-users"></i>
      <span>Usuarios</span></a>
  </li>
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->